# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.DS_Store
*/.DS_Store
*.DS_Store
.idea
.idea/
.idea/*
.git
.github
.ssh
.ftp-quota
.ftp*
.cgi
.well-known
.htaccess
*.htaccess
error_log
*/error_log
error_log/*

